<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Number attending:</strong>
  <%= @guest.number_attending %>
</p>

<p>
  <strong>Gift:</strong>
  <%= @guest.gift %>
</p>

<p>
  <strong>Food Choice:</strong>
  <%= @guest.food_choice %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
