<%= form_for(@owner) do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner_name %><br>
    <%= f.text_field :owner_name %>
  </div>
  <div class="field">
    <%= f.label :owner_age %><br>
    <%= f.number_field :owner_age %>
  </div>
  <div class="field">
    <%= f.label :number_of_pets %><br>
    <%= f.number_field :number_of_pets %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
