<h1>Listing owners</h1>

<table border=1>
  <thead>
    <tr>
      <th>Owner name</th>
      <th>Owner age</th>
      <th>Number of pets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.owner_name %></td>
        <td><%= owner.owner_age %></td>
        <td><%= owner.number_of_pets %></td>
        <td>
          <% owner.pets.each do |pet|%>
            <%=pet.name%><br>
          <%end%>
        </td>

        <td><%= link_to 'Show', owner %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owner', new_owner_path %>
