<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @member.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.age %>
</p>

<p>
  <strong>Home Base:</strong>
  <%= @member.home_base %>
</p>

<p>
  <strong>Member since:</strong>
  <%= @member.member_since %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
