<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @vacation.type %>
</p>

<p>
  <strong>Place:</strong>
  <%= @vacation.place %>
</p>

<p>
  <strong>Days:</strong>
  <%= @vacation.days %>
</p>

<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>
