<%= form_for(@thank_you) do |f| %>
  <% if @thank_you.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thank_you.errors.count, "error") %> prohibited this thank_you from being saved:</h2>

      <ul>
      <% @thank_you.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :guset_name %><br>
    <%= f.text_field :guest_name %>
  </div>
  <div class="field">
    <%= f.label :attended %><br>
    <%= f.check_box :attended %>
  </div>
  <div class="field">
    <%= f.label :gift_value %><br>
    <%= f.text_field :gift_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
